/*body styling*/
body {
    background-image: url(../Images/quiz-background.jpg);
    background-size: cover;
}

/*heading styling*/
.heading {
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0.2rem 0.2rem  rgb(4,124,218);
    font-size: 3rem;
    padding: 0;
    margin-top: .5rem;
    margin-left: 7rem;

}

.footer {
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgb(4,124,218);
    font-size: 1rem;
 
    top: 2rem;
    margin-top: 1rem;
    margin-left: 7rem;

}

/*Logo styling*/
.logo {
    width: 8rem;
    height: 12rem;
    margin-left: 35rem;
}

/*game area*/
.game-area {
    background-color: rgba(245, 245, 245, 0.664);
    border-radius: 5rem;
    width: 55rem;
    height: 18rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 3rem;
    box-shadow: 0 0 10px 2px rgb(4,124,218);
    position:relative;
    top: 2rem;
    bottom: 3rem;
    left: 3rem;


}

/*scores*/
#player {
    width: 12rem;
    height: 3rem;
    background-color: rgb(3,46,88);
    border-radius: 1rem;
    border: .3rem solid rgb(235, 241, 247);
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    text-shadow: 0.1rem 0.2rem rgb(4,124,218);
    font-size: 2rem;
    padding: .5rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.753);
    margin-left: 3rem;
    margin-top: 0.5rem;
    display: inline;
}

#game {
    width: 12rem;
    height: 3rem;
    background-color: rgb(3,46,88);
    border-radius: 1rem;
    border: .3rem solid whitesmoke;;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    text-shadow: 0.1rem 0.2rem rgb(4,124,218);
    font-size: 2rem;
    padding: .5rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.753);
    margin-left: 25rem;
    margin-top: 0.5rem;
    display: inline;
}


/*main text*/
#opening {
    font-family: 'Orbitron', sans-serif;
    color: rgb(3,46,88);
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgb(245, 247, 250);
    font-size: 1.5rem;
    padding: 0;
    margin-top: .5rem;
}



/*instruction text*/
#instruction {
    font-family: 'Orbitron', sans-serif;
    color: rgb(158, 14, 26);
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
 

}


/*start button*/
#start,
#restart {
    font-family: 'Orbitron', sans-serif;
    margin: 0.2rem;
    margin-top: .5rem;
    margin-left: 20rem;
    width: 12rem;
    height: 4rem;
    background-color: rgb(3,46,88);
    border: .3rem solid rgb(238, 242, 245);
    border-radius: 1rem;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0.1rem 0.2rem rgb(4,124,218);
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.753);
}

/*game buttons*/
#rock,
#paper,
#scissors,
#lizard,
#spock {
    margin: 0.2rem;
    margin-top: 4rem;
    margin-left: 4rem;
    width: 6rem;
    height: 6rem;
    text-shadow: 0.1rem 0.2rem rgb(4,124,218);
    background-color: rgb(3,46,88);
    border: .2rem solid rgb(237, 241, 245);
    border-radius: 50rem;
    font-size: 2rem;
    padding: .5rem;
    text-decoration: none;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.753), 0 6px 20px 0 rgba(0, 0, 0, 0.753);

}


#result {
    font-family: 'Orbitron', sans-serif;
    color: rgb(3,46,88);
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgb(245, 247, 250);
    font-size: 2rem;
    margin-top: .2rem;
    padding: 2rem;

}

/*button symbols*/
#rock,
#paper,
#scissors,
#lizard,
#spock {
    color: whitesmoke;

}

/*button hover effects*/
.btn:hover {
    border-color: rgb(18, 133, 199);
}

#start:hover,
#restart:hover,
#rock:hover,
#paper:hover,
#scissors:hover,
#lizard:hover #spock:hover {
    border-color: rgb(18, 133, 199);
}

/*color when button selected*/
#rock:focus,
#paper:focus,
#scissors:focus,
#lizard:focus,
#spock:focus {
    border-color: rgb(179, 9, 9);

}

.hide {
    display: none;

}