/*body styling*/
body {
    background-image: url(../Images/quiz-background.jpg);
    background-size: cover;
}

/*heading styling*/
.heading {
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0.2rem 0.2rem rgb(4, 124, 218);
    font-size: 3rem;
    margin-top: .5rem;
    margin-left: 7rem;


}

.footer {
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgb(4, 124, 218);
    font-size: 1rem;
    top: 2rem;
    margin-top: 1rem;
    margin-left: 7rem;

}

/*Logo styling*/
.logo {
    width: 10%;
    height: 10%;
    margin-top: 1%;
    margin-left: 45%;
}

/*game area*/
.game-area {
    background-color: rgba(245, 245, 245, 0.664);
    border-radius: 5rem;
    width: 50rem;
    height: 25rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 3rem;
    box-shadow: 0 0 10px 2px rgb(4, 124, 218);
    position: relative;
    top: 2rem;
    bottom: 3rem;
    left: 3rem;


}

/*scores*/
#player,
#game {
    width: 10rem;
    height: 3rem;
    background-color: rgb(3, 46, 88);
    border-radius: 1rem;
    border: .3rem solid rgb(235, 241, 247);
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    text-shadow: 0.1rem 0.2rem rgb(4, 124, 218);
    font-size: 1.5rem;
    padding: .5rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.753);
    margin-left: 20%;
    margin-top: 0.5rem;
    display: inline;
}




/*main text*/
#opening {
    font-family: 'Orbitron', sans-serif;
    color: rgb(3, 46, 88);
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgb(245, 247, 250);
    font-size: 1.5rem;
    padding: 0;
    margin-top: .5rem;
    line-height: 1.5rem;

}



/*instruction text*/
#rules {
    font-family: 'Orbitron', sans-serif;
    color: rgb(184, 4, 4);
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;


}


/*start button*/
#start,
#restart {
    font-family: 'Orbitron', sans-serif;
    margin: 0.2rem;
    margin-top: .5rem;
    margin-left: 20rem;
    width: 12rem;
    height: 4rem;
    background-color: rgb(3, 46, 88);
    border: .3rem solid rgb(238, 242, 245);
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0.1rem 0.2rem rgb(4, 124, 218);
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.753);
}

/*game buttons*/
#rock,
#paper,
#scissors,
#lizard,
#spock {
    margin: 0.2rem;
    margin-top: 4rem;
    margin-left: 3rem;
    width: 6rem;
    height: 6rem;
    text-shadow: 0.1rem 0.2rem rgb(4, 124, 218);
    background-color: rgb(3, 46, 88);
    border: .2rem solid rgb(237, 241, 245);
    border-radius: 50rem;
    font-size: 2rem;
    padding: .1rem;
    text-decoration: none;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.753), 0 6px 20px 0 rgba(0, 0, 0, 0.753);

}


#result {
    font-family: 'Orbitron', sans-serif;
    color: rgb(3, 46, 88);
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgb(245, 247, 250);
    font-size: 2rem;
    margin-top: .2rem;
    padding: 2rem;

}

/*button symbols*/
#rock,
#paper,
#scissors,
#lizard,
#spock {
    color: whitesmoke;

}

/*button hover effects*/
.btn:hover {
    border-color: rgb(18, 133, 199);
}

#start:hover,
#restart:hover,
#rock:hover,
#paper:hover,
#scissors:hover,
#lizard:hover #spock:hover {
    border-color: rgb(18, 133, 199);
}

/*color when button selected*/
#rock:focus,
#paper:focus,
#scissors:focus,
#lizard:focus,
#spock:focus {
    border-color: rgb(179, 9, 9);

}

.hide {
    display: none;

}

@media screen and (max-width: 1179.20px) {
    .heading {
        margin-left: 1rem;
    }

    .game-area {
        left: 1rem;
    }
}

@media screen and (max-width: 984px) {
    .heading {
        font-size: 2rem;
    }

    .logo {
        width: 10%;
        height: 10%;
        margin-left: 35%;
    }

    .game-area {
        width: 40rem;
        height: 25rem;
    }


    #opening {
        font-size: 1.5rem;
    }

    #rules {
        font-size: 1rem;
        text-align: center;
    }

    #start,
    #restart {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        margin-left: 15rem;
        margin-top: 2rem;

    }

    #player,
    #game {
        width: 7rem;
        height: 2rem;
        font-size: 1.5rem;
        margin-left: 7rem;
        padding: .8rem;
    }

    #rock,
    #paper,
    #scissors,
    #lizard,
    #spock {
        margin-left: rem;
        width: 4rem;
        height: 4rem;
        font-size: 1.5;
    }

    #result {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 799.20px) {

    .game-area {
        width: 25rem;
        height: 20rem;
    }

    #opening {
        font-size: 1rem;
    }

    #rules {
        font-size: 1rem;
        text-align: center;
        line-height: 1.5rem;
    }

    #start,
    #restart {
        margin-left: 8rem;
        margin-top: 4rem;
    }

    .logo {
        margin-left: 35%
    }

    #player,
    #game {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        margin-left: 3rem;
        padding: .8rem;
    }

    #rock,
    #paper,
    #scissors,
    #lizard,
    #spock {
        margin-left: 1rem;
        margin-top: 4rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 672px) {
    .heading {
        font-size: 1.5rem;

    }

    .logo {
        width: 3%;
        height: 3%;
        margin-left: 30%;
    }

    .footer {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 552px) {
    .game-area {
        width: 20rem;
        height: 20rem;
    }

    #start,
    #restart {
        margin-left: 5rem;
        margin-top: 4rem;
    }

    #player,
    #game {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        margin-left: 1rem;
        padding: .8rem;
    }

    #rock,
    #paper,
    #scissors,
    #lizard,
    #spock {
        margin-left: 2rem;
        margin-top: 3rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    #result {
        font-size: 1rem;
    }

    .footer {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 476px) {
    .game-area {
        width: 16rem;
        height: 25rem;
    }

    #rock,
    #paper,
    #scissors,
    #lizard,
    #spock {
        margin-left: 3rem;
        margin-top: 3rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    #player,
    #game {
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        margin-left: .5rem;
        padding: .8rem;
    }

    #start,
    #restart {
        margin-left: 3rem;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 423px) {
    .logo {
        width: 1%;
        height: 1%;
        margin-left: 10%;
    }

    .game-area {
        width: 14rem;
        height: 25rem;
    }

    #start,
    #restart {
        margin-left: 3rem;
        margin-top: 3rem;
    }

    #player,
    #game {
        width: .9rem;
        height: 1rem;
        font-size: .8rem;
        margin-left: .5rem;
        padding: .8rem;
    }

}